{% load static %}
{% load app_tags %}

<div class="col-md-6 col-lg-4">
    <div class="widget_tab md-mt-30">

        <div class="tab-content">
            <div id="post1" class="tab-pane fade show in active">
                <div class="widget tab_widgets mb30">

                    <a href="https://www.sklep.tomaszow-tit.pl/tit-tomaszowski-informator-tygodniowy">
                        <img src="{% static 'assets/img/gallary/1g.jpg' %}" alt="">
                    </a>
                    <a class="btn btn-block btn-primary mt10"
                       href="https://www.sklep.tomaszow-tit.pl/tit-tomaszowski-informator-tygodniowy">Kup najnowsze
                        wydanie TIT w PDF!</a>

                    <div class="space-15"></div>
                    <div class="border_black"></div>
                    <div class="space-15"></div>

                </div>
            </div>
        </div>
        <div class="banner2 mb30">
            {% get_random_add  as random_add %}
            {% if random_add %}
                {% for item in random_add %}
                <a href="/artykul/{{ item.slug }}/" target="{{ item.add|yesno:'_blank,_self' }}">
                    <img src="{{ item.img_700x500.url }}" alt="{{ item.title }}">
                </a>
                {% endfor %}
            {% endif %}
        </div>
        <!--:::::: POST TYPE 4 END :::::::-->
        <div class="box widget news_letter mb30">
            <h2 class="widget-title">Newsletter</h2>
            <p>Powiadomimy cię o nowych artykułach pojawiających się na łamach naszego tygodnika.</p>
            <div class="space-20"></div>
            <div class="signup_form">
                {% get_subscribe_form as s_form %}
                <form action="/subscribe_email/" method="post" id="subscribe_email" >
                    {{ s_form.email }}
                    {% csrf_token %}
                    <input type="submit" class="cbtn" value="Zapisz" >

                </form>
                <div class="space-10"></div>
                <span id="subscribe_msg" class="text-primary font14"></span>
                <p>Podając adres email, akceptujesz regulamin i politykę prywatności.</p>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'assets/js/plugins/jquery.2.1.0.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.form.js' %}"></script>
<script>
    $('#subscribe_email').ajaxForm({
        success:function(data)
        {
            $('#subscribe_msg').text(data.status);
        }
    });

</script>
