{% load static %}
						<div class="col-md-6 col-lg-4">
							<div class="widget_tab md-mt-30">
                <ul class="nav nav-tabs">
                  <li><a class="active" data-toggle="tab" href="#post1">RELATED</a>
                  </li>
                  <li><a data-toggle="tab" href="#post2" class="">RELATED</a>
                  </li>
                  <li><a data-toggle="tab" href="#post3" class="">POPULAR</a>
                  </li>
                </ul>
								<div class="tab-content">
									<div id="post1" class="tab-pane fade show in active">
										<div class="widget tab_widgets mb30">
                    
                      {% if object.slider_sm_basic_1 %}
											<div class="single_post widgets_small" >
												<div class="post_img">
													<div class="img_wrap">
														<a href="#">
															<img src="{{ object.slider_sm_basic_1.img_200x154.url }}" alt="">
														</a>
													</div>
												</div>
												<div class="single_post_text">
													<div class="meta2 meta_separator1">	<a href="#">{{ object.slider_sm_basic_1.category }}</a>
														<a href="#">{{ object.slider_sm_basic_1.date_of_publication|date:"SHORT_DATE_FORMAT" }}</a>
													</div>
													<h4><a href="#">{{ object.slider_sm_basic_1.title|truncatechars:30 }}</a></h4>
												</div>
											</div>
                      {% endif %}
                      
											<div class="space-15"></div>
											<div class="border_black"></div>
											<div class="space-15"></div>
                      
                      {% if object.slider_sm_basic_1 %}
											<div class="single_post widgets_small" >
												<div class="post_img">
													<div class="img_wrap">
														<a href="#">
															<img src="{{ object.slider_sm_basic_1.img_200x154.url }}" alt="">
														</a>
													</div>
												</div>
												<div class="single_post_text">
													<div class="meta2 meta_separator1">	<a href="#">{{ object.slider_sm_basic_1.category }}</a>
														<a href="#">{{ object.slider_sm_basic_1.date_of_publication|date:"SHORT_DATE_FORMAT" }}</a>
													</div>
													<h4><a href="#">{{ object.slider_sm_basic_1.title|truncatechars:30 }}</a></h4>
												</div>
											</div>
                      {% endif %}
                      
											<div class="space-15"></div>
											<div class="border_black"></div>
											<div class="space-15"></div>
                      
                      {% if object.slider_sm_basic_1 %}
											<div class="single_post widgets_small" >
												<div class="post_img">
													<div class="img_wrap">
														<a href="#">
															<img src="{{ object.slider_sm_basic_1.img_200x154.url }}" alt="">
														</a>
													</div>
												</div>
												<div class="single_post_text">
													<div class="meta2 meta_separator1">	<a href="#">{{ object.slider_sm_basic_1.category }}</a>
														<a href="#">{{ object.slider_sm_basic_1.date_of_publication|date:"SHORT_DATE_FORMAT" }}</a>
													</div>
													<h4><a href="#">{{ object.slider_sm_basic_1.title|truncatechars:30 }}</a></h4>
												</div>
											</div>
                      {% endif %}
                      
											<div class="space-15"></div>
											<div class="border_black"></div>
											<div class="space-15"></div>
                      
                      {% if object.slider_sm_basic_2 %}
											<div class="single_post widgets_small" >
												<div class="post_img">
													<div class="img_wrap">
														<a href="#">
															<img src="{{ object.slider_sm_basic_2.img_200x154.url }}" alt="">
														</a>
													</div>
												</div>
												<div class="single_post_text">
													<div class="meta2 meta_separator1">	<a href="#">{{ object.slider_sm_basic_2.category }}</a>
														<a href="#">{{ object.slider_sm_basic_2.date_of_publication|date:"SHORT_DATE_FORMAT" }}</a>
													</div>
													<h4><a href="#">{{ object.slider_sm_basic_2.title|truncatechars:30 }}</a></h4>
												</div>
											</div>
                      {% endif %}
											<div class="space-15"></div>
											<div class="border_black"></div>
											<div class="space-15"></div>
                      
                      <a href="https://www.sklep.tomaszow-tit.pl/tit-tomaszowski-informator-tygodniowy">
                        <img src="{% static 'assets/img/gallary/1g.jpg' %}" alt="">
                      </a>
                      <a class="btn btn-block btn-danger mt10" href="https://www.sklep.tomaszow-tit.pl/tit-tomaszowski-informator-tygodniowy">Kup najnowsze wydanie TIT w PDF!</a>


										</div>
									</div>
									<div id="post2" class="tab-pane fade">
										<div class="widget tab_widgets mb30">
                    
                      {% if object.slider_sm_basic_3 %}
											<div class="single_post widgets_small" >
												<div class="post_img">
													<div class="img_wrap">
														<a href="#">
															<img src="{{ object.slider_sm_basic_3.img_200x154.url }}" alt="">
														</a>
													</div>
												</div>
												<div class="single_post_text">
													<div class="meta2 meta_separator1">	<a href="#">{{ object.slider_sm_basic_3.category }}</a>
														<a href="#">{{ object.slider_sm_basic_3.date_of_publication|date:"SHORT_DATE_FORMAT" }}</a>
													</div>
													<h4><a href="#">{{ object.slider_sm_basic_3.title|truncatechars:30 }}</a></h4>
												</div>
											</div>
                      {% endif %}
											<div class="space-15"></div>
											<div class="border_black"></div>
											<div class="space-15"></div>
                      
                      {% if object.slider_sm_basic_4 %}
											<div class="single_post widgets_small" >
												<div class="post_img">
													<div class="img_wrap">
														<a href="#">
															<img src="{{ object.slider_sm_basic_4.img_200x154.url }}" alt="">
														</a>
													</div>
												</div>
												<div class="single_post_text">
													<div class="meta2 meta_separator1">	<a href="#">{{ object.slider_sm_basic_4.category }}</a>
														<a href="#">{{ object.slider_sm_basic_4.date_of_publication|date:"SHORT_DATE_FORMAT" }}</a>
													</div>
													<h4><a href="#">{{ object.slider_sm_basic_4.title|truncatechars:30 }}</a></h4>
												</div>
											</div>
                      {% endif %}
											<div class="space-15"></div>
											<div class="border_black"></div>
											<div class="space-15"></div>
                      
                      <a href="https://www.sklep.tomaszow-tit.pl/tit-tomaszowski-informator-tygodniowy">
                        <img src="{% static 'assets/img/gallary/1g.jpg' %}" alt="">
                      </a>
                      <a class="btn btn-block btn-danger mt10" href="https://www.sklep.tomaszow-tit.pl/tit-tomaszowski-informator-tygodniowy">Kup najnowsze wydanie TIT w PDF!</a>

                      
										</div>
									</div>
									<div id="post3" class="tab-pane fade">
										<div class="widget tab_widgets mb30">
                    
                      {% if object.slider_sm_basic_5 %}
											<div class="single_post widgets_small" >
												<div class="post_img">
													<div class="img_wrap">
														<a href="#">
															<img src="{{ object.slider_sm_basic_5.img_200x154.url }}" alt="">
														</a>
													</div>
												</div>
												<div class="single_post_text">
													<div class="meta2 meta_separator1">	<a href="#">{{ object.slider_sm_basic_5.category }}</a>
														<a href="#">{{ object.slider_sm_basic_5.date_of_publication|date:"SHORT_DATE_FORMAT" }}</a>
													</div>
													<h4><a href="#">{{ object.slider_sm_basic_5.title|truncatechars:30 }}</a></h4>
												</div>
											</div>
                      {% endif %}
											<div class="space-15"></div>
											<div class="border_black"></div>
											<div class="space-15"></div>
                      
                      {% if object.slider_sm_basic_6 %}
											<div class="single_post widgets_small" >
												<div class="post_img">
													<div class="img_wrap">
														<a href="#">
															<img src="{{ object.slider_sm_basic_6.img_200x154.url }}" alt="">
														</a>
													</div>
												</div>
												<div class="single_post_text">
													<div class="meta2 meta_separator1">	<a href="#">{{ object.slider_sm_basic_6.category }}</a>
														<a href="#">{{ object.slider_sm_basic_6.date_of_publication|date:"SHORT_DATE_FORMAT" }}</a>
													</div>
													<h4><a href="#">{{ object.slider_sm_basic_6.title|truncatechars:30 }}</a></h4>
												</div>
											</div>
                      {% endif %}
											<div class="space-15"></div>
											<div class="border_black"></div>
											<div class="space-15"></div>
                      
                      <a href="https://www.sklep.tomaszow-tit.pl/tit-tomaszowski-informator-tygodniowy">
                        <img src="{% static 'assets/img/gallary/1g.jpg' %}" alt="">
                      </a>
                      <a class="btn btn-block btn-danger mt10" href="https://www.sklep.tomaszow-tit.pl/tit-tomaszowski-informator-tygodniowy">Kup najnowsze wydanie TIT w PDF!</a>


										</div>
									</div>
								</div>
                <div class="banner2 mb30">
                  <a href="#">
                    <img src="{% static 'assets/img/bg/sidebar-1.png' %}" alt="">
                  </a>
                </div>
                <!--:::::: POST TYPE 4 END :::::::-->
                <div class="box widget news_letter mb30">
                  <h2 class="widget-title">Newsletter</h2>
                  <p>Powiadomimy cię o nowych artykułach pojawiających się na łamach naszego tygodnika.</p>
                  <div class="space-20"></div>
                  <div class="signup_form">
                    <form action="index.html">
                      <input class="signup" type="email" placeholder="Twój adres email">
                      <input type="button" class="cbtn" value="Zapisz">
                    </form>
                    <div class="space-10"></div>
                    <p>Podając adres email, akceptujesz regulamin i politykę prywatności.</p>
                  </div>
                </div>
              </div>
						</div>
