{% load static %}
{% load app_tags %}
<!DOCTYPE html>
<html lang="pl">

<head>
	<title>Tomaszów Mazowiecki - TIT - Lista artykułów.</title>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!--::::: FABICON ICON :::::::-->
	<link rel="icon" href="{% static 'assets/img/icon/fabicon.png' %}">
	<!--::::: ALL CSS FILES :::::::-->
	<link rel="stylesheet" href="{% static 'assets/css/plugins/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/plugins/animate.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/plugins/fontawesome.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/plugins/modal-video.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/plugins/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/plugins/slick.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/plugins/stellarnav.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/theme.css' %}">
  <style>
  .myDiv{
  	background:#1191ff;
  }
  </style>
</head>

<body class="theme-1">
	<!--::::: PRELOADER START :::::::-->
  {% include "app/basic/navbar.html" %}

	<!--::::: INNER TABLE AREA START :::::::-->
	<div class="inner_table">
		<div class="container">
			<div class="row">
				<div class="col-12">
                    <div class="bridcrumb">	<a href="/">Strona główna</a> / <a href="/artykuly/">Artykuly </a>
                        / <a href="/artykuly/{{ cur_category.slug }}">{{ cur_category.name }} </a> </div>
				</div>
			</div>
		</div>
	</div>
	<!--::::: INNER TABLE AREA END :::::::-->
	<!--::::: ARCHIVE AREA START :::::::-->

	<!--::::: ARCHIVE AREA END :::::::-->
    <div class="archives padding-top-30">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-8">
					<div class="row">
                        <div class="col-12 align-self-center">
                            <div class="categories_title mb-4">
                                <form class="row" action="">
                                    <div class="col mb-2">
                                        <input name="search" class="form-control mb-0" type="search"
                                               value="{{ request.GET.search }}" placeholder="Wpisz szukaną frazę...">
                                    </div>
                                    <button class="btn btn-primary mb-2 mx-3">search</button>
                                </form>
                            </div>
                        </div>

					</div>
                    {% if article_lists|length > 0 %}
                        <div class="entertrainment_carousel mb30">
                            <!--CAROUSEL START-->
                            <div class="entertrainment_item">
                                <div class="row">
                                    {% for item in article_lists %}
                                        <div class="col-lg-6">
                                            <div class="single_post post_type3 mb30">
                                                <div class="post_img">
                                                    <div class="img_wrap">
                                                        <a href="/artykul/{{ item.slug }}/" target="{{ item.add|yesno:"_blank,_self" }}">
                                                        {% if item.img_700x500 %}
                                                            <img src="{{ item.img_700x500.url }}" alt="">
                                                        {% else %}
                                                            <img src="{% static 'assets/img/entertrainment/enter2.jpg' %}" alt="">
                                                        {% endif %}
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="single_post_text">
                                                    <div class="meta3">	<a href="#">{{ item.category.name }}</a>
                                                        <a href="/artykul/{{ item.slug }}/" target="{{ item.add|yesno:"_blank,_self" }}">{{ item.updated_at|date:' M,  d,  Y' }}</a>
                                                    </div>
                                                    <h4><a href="/artykul/{{ item.slug }}/" target="{{ item.add|yesno:"_blank,_self" }}">{{ item.title }}</a></h4>
                                                    <div class="space-10"></div>
                                                    <p class="post-p">{{ item.subtitle|truncatechars:200 }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% if article_lists.paginator.num_pages > 1 %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="cpagination mb50 ">
                                        <nav aria-label="Page navigation example ">
                                            <ul class="pagination">
                                             <li class="page-item">
                                                    <a class="page-link" href="?page=" aria-label="Previous">
                                                        <span aria-hidden="true"><i class="fas fa-angle-double-left"></i></span>
                                                    </a>
                                                </li>
                                            {% if article_lists.has_previous %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ article_lists.previous_page_number }}" aria-label="Previous">
                                                        <span aria-hidden="true"><i class="fas fa-angle-left"></i></span>
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li class="page-item">
                                                    <a class="page-link" href="" aria-label="Previous"> <span aria-hidden="true"><i class="fas fa-angle-left"></i></span>
                                                    </a>
                                                </li>
                                            {% endif %}

                                                <li class="page-item"><a class="page-link page-current" href="#">{{ article_lists.number }}</a>
                                                </li>

                                            {% if article_lists.has_next  %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ article_lists.next_page_number }}" aria-label="Next"> <span aria-hidden="true"><i class="fas fa-angle-right"></i></span>
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li class="page-item">
                                                    <a class="page-link" href="" aria-label="Next"> <span aria-hidden="true"><i class="fas fa-angle-right"></i></span>
                                                    </a>
                                                </li>
                                            {% endif %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ article_lists.paginator.num_pages }}" aria-label="Next"> <span aria-hidden="true"><i class="fas fa-angle-double-right"></i></span></a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
				    {% else %}
                        <p class="text-danger mb-4"> There are not matched articles  </p>
                        {% get_random_article_10 as random_articles %}
                        {% if random_articles %}
                        <div class="entertrainment_carousel mb30">
                            <!--CAROUSEL START-->
                            <div class="entertrainment_item">
                                <div class="row">
                                {% for item in random_articles %}
                                    <div class="col-lg-6">
                                        <div class="single_post post_type3 mb30">
                                            <div class="post_img">
                                                <div class="img_wrap">
                                                    <a href="/artykul/{{ item.slug }}/" target="{{ item.add|yesno:"_blank,_self" }}">
                                                    {% if item.img_700x500 %}
                                                        <img src="{{ item.img_700x500.url }}" alt="">
                                                    {% else %}
                                                        <img src="{% static 'assets/img/entertrainment/enter2.jpg' %}" alt="">
                                                    {% endif %}
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="single_post_text">
                                                <div class="meta3">	<a href="#">{{ item.category.name }}</a>
                                                    <a href="/artykul/{{ item.slug }}/" target="{{ item.add|yesno:"_blank,_self" }}">{{ item.updated_at|date:' M,  d,  Y' }}</a>
                                                </div>
                                                <h4><a href="/artykul/{{ item.slug }}/" target="{{ item.add|yesno:"_blank,_self" }}">{{ item.title }}</a></h4>
                                                <div class="space-10"></div>
                                                <p class="post-p">{{ item.subtitle|truncatechars:200 }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endif %}
                </div>
				{% include 'app/basic/right-section.html' %}
			</div>
		</div>
	</div>
	<!--::::: BANNER AREA START :::::::-->
	{% include 'app/basic/footer_banner.html' %}
	<!--::::: BANNER AREA END :::::::-->
	<!--::::: FOOTER AREA START :::::::-->
	{% include "app/basic/footer.html" %}
  
  <!--::::: FOOTER AREA END :::::::-->
	<!--::::: ALL JS FILES :::::::-->
	<script src="{% static 'assets/js/plugins/jquery.2.1.0.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/jquery.nav.js' %}"></script>
	<script src="{% static 'assets/js/plugins/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/jquery-modal-video.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/owl.carousel.js' %}"></script>
	<script src="{% static 'assets/js/plugins/popper.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/circle-progress.js' %}"></script>
	<script src="{% static 'assets/js/plugins/slick.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/stellarnav.js' %}"></script>
	<script src="{% static 'assets/js/plugins/wow.min.js' %}"></script>
	<script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>