{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>
    <title>Tomaszów Mazowiecki - TIT - Lista artykułów.</title>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--::::: FABICON ICON :::::::-->
    <link rel="icon" href="{% static 'assets/img/icon/fabicon.png' %}">
    <!--::::: ALL CSS FILES :::::::-->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/modal-video.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/stellarnav.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/theme.css' %}">
    <style>
        .myDiv {
            background: #1191ff;
        }
    </style>
</head>

<body class="theme-1">
<!--::::: PRELOADER START :::::::-->
{% include "app/basic/navbar.html" %}

<!--::::: INNER TABLE AREA START :::::::-->
<div class="inner_table">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="bridcrumb"><a href="#">Strona główna</a> / Kontakt</div>
            </div>
        </div>
    </div>
</div>
<!--::::: INNER TABLE AREA END :::::::-->
<!--::::: ARCHIVE AREA START :::::::-->
<div class="archives padding-top-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">

                <h4 class="mb-2">Adres:</h4>
                <p>ul. Długa 82,</p>
                <p>97-200 Tomaszów Mazowiecki</p>
                <p class="mb-3">tel. 44 724 24 00</p>

                <h4 class="mt-4 mb-3">Dane kontaktowe:</h4>
                <p><b>Biuro ogłoszeń wew. 28</b></p>
                <p class="mb-3">ogloszenia@pajpress.com.pl</p>

                <p><b>Dziennikarze wew. 30</b></p>
                <p>tel: (44) 724 24 00</p>
                <p class="mb-3">redakcja@tomaszow-tit.pl</p>

                <p><b>Dział reklamy</b></p>
                <p class="mb-3">tel: (44) 724 24 00 wew. 28, 609 827 357, 724 496 306</p>

                <p><b>Kolportaż wew. 30</b></p>
                <p class="mb-3">mz@pajpress.com.pl</p>

                <p><b>Redaktor naczelny wew. 25</b></p>
                <p class="mb-3">ak@pajpress.com.pl</p>

                <p><b>Graficy wew. 23</b></p>
                <p><b>Księgowość wew. 27</b></p>
                <p>ks@pajpress.com.pl</p>

            </div>

            <div class="col-lg-8 col-md-6 col-sm-12">
                <form action="" method="post">
                {% csrf_token %}
                {% for fields in contact_frm %}
                    <label for="id_{{ fields.name }}">{{ fields.label }} </label>
                    {{ fields | safe }}
                {% endfor %}
                <button type="submit" class="btn btn-primary" style="float:right;">Submit</button>
                </form>
            </div>

        </div>

        <div class="space-50"></div>
        <h4 class="mb-2 mt-6">Dziennikarze:</h4>
        <div class="row">
            <div class="col-md-6">
                <div class="single_post post_type3 post_type12 mb30">
                    <div class="post_img">
                        <div class="img_wrap">
                            <a href="#">
                                <img src="{% static 'assets/img/business/img-1.jpg' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="single_post_text">
                        <h4><a href="post1.html">Copa America: Luis Suarez from devastated US</a></h4>
                        <div class="space-10"></div>
                        <p class="post-p">The property, complete with 30-seat screening from room, a 100-seat
                            amphitheater and a swimming pond with…</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single_post post_type3 post_type12 mb30">
                    <div class="post_img">
                        <div class="img_wrap">
                            <a href="#">
                               <img src="{% static 'assets/img/business/img-1.jpg' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="single_post_text">
                        <h4><a href="post1.html">Copa America: Luis Suarez from devastated US</a></h4>
                        <div class="space-10"></div>
                        <p class="post-p">The property, complete with 30-seat screening from room, a 100-seat
                            amphitheater and a swimming pond with…</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="space-30"></div>

        <div class="row">
            <div class="col-md-6">
                <div class="single_post post_type3 post_type12 mb30">
                    <div class="post_img">
                        <div class="img_wrap">
                            <a href="#">
                                <img src="{% static 'assets/img/business/img-1.jpg' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="single_post_text">
                        <h4><a href="post1.html">Copa America: Luis Suarez from devastated US</a></h4>
                        <div class="space-10"></div>
                        <p class="post-p">The property, complete with 30-seat screening from room, a 100-seat
                            amphitheater and a swimming pond with…</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single_post post_type3 post_type12 mb30">
                    <div class="post_img">
                        <div class="img_wrap">
                            <a href="#">
                                <img src="{% static 'assets/img/business/img-1.jpg' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="single_post_text">
                        <h4><a href="post1.html">Copa America: Luis Suarez from devastated US</a></h4>
                        <div class="space-10"></div>
                        <p class="post-p">The property, complete with 30-seat screening from room, a 100-seat
                            amphitheater and a swimming pond with…</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="space-100"></div>
    </div>
</div>

<!--::::: BANNER AREA END :::::::-->
<!--::::: FOOTER AREA START :::::::-->
{% include "app/basic/footer.html" %}

<!--::::: FOOTER AREA END :::::::-->
<!--::::: ALL JS FILES :::::::-->
<script src="{% static 'assets/js/plugins/jquery.2.1.0.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.nav.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery-modal-video.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/owl.carousel.js' %}"></script>
<script src="{% static 'assets/js/plugins/popper.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/circle-progress.js' %}"></script>
<script src="{% static 'assets/js/plugins/slick.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/stellarnav.js' %}"></script>
<script src="{% static 'assets/js/plugins/wow.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>