{% load static %}
{% load app_tags %}

<!DOCTYPE html>
<html lang="pl">

<head>
    <title>Tomaszów Mazowiecki - TIT - Tomaszowski Informator Tygodniowy</title>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--::::: FABICON ICON :::::::-->
    <link rel="icon" href="{% static 'assets/img/icon/fabicon.png' %}">
    <!--::::: ALL CSS FILES :::::::-->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/modal-video.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/stellarnav.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-scroll/1.3.3/slimscroll.min.js"></script>
    <link rel="stylesheet" href="{% static 'assets/css/theme.css' %}">
    <style>
        .myDiv {
            background: #1191ff;
        }
    </style>
</head>

<body class="theme-1">
{% include "app/basic/navbar.html" %}

<!--::::: POST CAROUSEL AREA START  :::::::-->
<div class="fifth_bg myDiv">
    <div class="container">
        <div class="row ">
            <div class="col-12 white">
                <div class="mb40 mt30 ">
                    <!--CAROUSEL START-->
                    <div class="carousel_posts1 owl-carousel nav_style2 d-none d-md-block">
                        {% for item in small_article_numbers %}
                            {% get_field object 'small_article_basic_section_'|add:item as model_field %}
                            {% if model_field %}
                                <div class="single_post widgets_small post_type5">
                                    <div class="post_img">
                                        <div class="img_wrap">
                                            {% with model_field.url|add:',/artykul/'|add:model_field.slug  as url_str%}
                                            <a href="{{ model_field.add|yesno:url_str}}"
                                               target="{{ model_field.add|yesno:"_blank,_self" }}">
                                                <img src="{{ model_field.img_190x140.url }}" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="single_post_text">
                                        <h4>
                                            <a href="{{ model_field.add|yesno:url_str }}"
                                               target="{{ model_field.add|yesno:"_blank,_self" }}">{{ model_field.title|truncatechars:24 }}</a>
                                        </h4>
                                        <p>
                                            <a href="{{ model_field.add|yesno:url_str }}"
                                               target="{{ model_field.add|yesno:"_blank,_self" }}">{{ model_field.subtitle|truncatechars:50 }}</a>
                                        </p>
                                        {% endwith %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <!--CAROUSEL END-->
            </div>
        </div>
    </div>
</div>
<!--::::: POST CAREOUSEL AREA END :::::::-->

<!--::::: POST GALLARY AREA START :::::::-->
<div class="post_gallary_area fifth_bg mb40 myDiv">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 white">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="slider_demo2">
                            {% for item in slider_lg_basic_numbers %}
                                {% get_field object 'slider_lg_basic_'|add:item as slider_lg_basic %}
                                {% if slider_lg_basic %}
                                    {% with slider_lg_basic.url|add:',/artykul/'|add:slider_lg_basic.slug  as url_str %}
                                    <div class="single_post post_type6 xs-mb30">
                                        <a href="{{ slider_lg_basic.add|yesno:url_str }}" target="{{ slider_lg_basic.add|yesno:"_blank,_self" }}">
                                            <div class="post_img gradient1">
                                                <img src="{{ slider_lg_basic.basic_img.url }}" alt="">
                                            </div>
                                        </a>
                                        <div class="single_post_text">
                                            <div class="meta meta_separator1">
                                                <a href="{{ slider_lg_basic.add|yesno:url_str }}"  target="{{ slider_lg_basic.add|yesno:"_blank,_self" }}">{{ slider_lg_basic.category }}</a>
                                                <a href="{{ slider_lg_basic.add|yesno:url_str }}"  target="{{ slider_lg_basic.add|yesno:"_blank,_self" }}">{{ slider_lg_basic.date_of_publication }}</a>
                                            </div>
                                            <h4><a class="play_btn" target="{{ slider_lg_basic.add|yesno:"_blank,_self" }}"
                                                   href="{{ slider_lg_basic.add|yesno:url_str }}" >{{ slider_lg_basic.title|truncatechars:30 }}</a></h4>
                                            <div class="space-10"></div>
                                            <a href="{{ slider_lg_basic.add|yesno:url_str }}" target="{{ slider_lg_basic.add|yesno:"_blank,_self" }}">
                                                <p class="post-p">{{ slider_lg_basic.subtitle|truncatechars:120 }}</p>
                                            </a>
                                        </div>
                                    </div>
                                    {% endwith %}
                                {% endif %}
                            {% endfor %}
                        </div>

                        {% get_slider_lg_basic_lens object as slider_show %}
                        <div class="slider_demo1 d-none {{ slider_show|yesno:'d-md-block,' }}">
                            {% for item in slider_lg_basic_numbers %}
                                {% get_field object 'slider_lg_basic_'|add:item as slider_lg_basic %}
                                {% if slider_lg_basic %}
                                    <div class="single_gallary_item">
                                        <img src="{{slider_lg_basic.img_95x70.url }}" alt="image">
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <a class="btn btn-block btn-danger d-md-none"
                           href="https://www.sklep.tomaszow-tit.pl/tit-tomaszowski-informator-tygodniowy">Kup najnowsze
                            wydanie TIT w PDF!</a>
                        <div class="space-30 d-md-none"></div>
                    </div>
                    <div class="col-xl-4 d-none d-md-block">
                        <div class="widget_tab md-mt-30">
                            <ul class="nav nav-tabs dark_element">
                                <!--
                                <button class="btn btn-dark">Nowości</button>
                                <button class="btn btn-dark" style="margin-left: 10px;">Popularne</button>
                                <button class="btn btn-dark" style="margin-left: 10px;">Wydarzenia</button>-->

                                <li style="background-color:#17222b;">
                                    <a style="background-color:#17222b;" data-toggle="tab" href="#post1">
                                        {% if object.button_1 %}{{ object.button_1 }}{% else %}Przycisk_1{% endif %}
                                    </a>
                                </li>
                                <li style="background-color:#17222b;">
                                    <a data-toggle="tab" href="#post2"  style="background-color:#17222b;">
                                        {% if object.button_2 %}{{ object.button_2 }}{% else %}Przycisk_2{% endif %}
                                    </a>
                                </li>
                                <li style="background-color:#17222b;">
                                    <a data-toggle="tab" href="#post3"  style="background-color:#17222b;">
                                        {% if object.button_3 %}{{ object.button_3 }}{% else %}Przycisk_3{% endif %}
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                {% for item_set in tab_article_numbers %}
                                    <div id="post{{ forloop.counter }}" class="tab-pane fade show in {{ forloop.counter0|yesno:",active" }}">
                                        <div class="widget tab_widgets mb30">
                                            {% for item in item_set %}
                                                {% get_field object 'slider_sm_basic_'|add:item as slider_sm_basic %}
                                                    {% if slider_sm_basic %}
                                                        {% with slider_sm_basic.url|add:',/artykul/'|add:slider_sm_basic.slug  as url_str %}
                                                        <div class="single_post widgets_small">
                                                            <div class="post_img">
                                                                <div class="img_wrap">
                                                                    <a href="{{ slider_sm_basic.add|yesno:url_str }}" target="{{ slider_sm_basic.add|yesno:"_blank,_self" }}">
                                                                        <img src="{{ slider_sm_basic.img_200x154.url }}"
                                                                             alt="">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="single_post_text">
                                                                <div class="meta2 meta_separator1">
                                                                    <a href="{{ slider_sm_basic.add|yesno:url_str }}" target="{{ slider_sm_basic.add|yesno:"_blank,_self" }}">{{ slider_sm_basic.category }}</a>
                                                                    <a href="{{ slider_sm_basic.add|yesno:url_str }}" target="{{ slider_sm_basic.add|yesno:"_blank,_self" }}">{{ slider_sm_basic.date_of_publication|date:"SHORT_DATE_FORMAT" }}</a>
                                                                </div>
                                                                <h4>
                                                                    <a href="{{ slider_sm_basic.add|yesno:url_str }}" target="{{ slider_sm_basic.add|yesno:"_blank,_self" }}">{{ slider_sm_basic.title|truncatechars:30 }}</a>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="space-15"></div>
                                                        <div class="border_black"></div>
                                                        <div class="space-15"></div>
                                                        {% endwith %}
                                                    {% endif %}
                                            {% endfor %}

                                            <a href="https://www.sklep.tomaszow-tit.pl/tit-tomaszowski-informator-tygodniowy">
                                                <img src="{% static 'assets/img/gallary/1g.jpg' %}" alt="">
                                            </a>
                                            <a class="btn btn-block btn-danger mt10"
                                               href="https://www.sklep.tomaszow-tit.pl/tit-tomaszowski-informator-tygodniowy">Kup
                                                najnowsze wydanie TIT w PDF!</a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>
<!--::::: POST GALLARY AREA END :::::::-->

<!--::::: TRANDING CAROUSEL AREA START :::::::-->
<div class="container mb40">
    <div class="row">
        <div class="col-lg-6 col-lg-8">
            <h2 class="widget-title">{{ object.section_1 }}</h2>
            <div class="carousel_post2_type3 nav_style1 owl-carousel">
                <!--CAROUSEL START-->
                {% for item_set in section_second_numbers %}
                    {% get_field object 'section_second_'|add:item_set as section_second %}
                    {% if section_second %}
                        {% with section_second.url|add:',/artykul/'|add:section_second.slug  as url_str %}
                        <div class="single_post post_type3">
                            <div class="post_img">
                                <a  href="{{ section_second.add|yesno:url_str }}" target="{{ section_second.add|yesno:"_blank,_self" }}">
                                    <div class="img_wrap">
                                        <img src="{{ section_second.img_700x500.url }}" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="single_post_text">
                                <div class="meta3">
                                    <a  href="{{ section_second.add|yesno:url_str }}"  target="{{ section_second.add|yesno:"_blank,_self" }}">{{ section_second.category }}</a>
                                    <a  href="{{ section_second.add|yesno:url_str }}"  target="{{ section_second.add|yesno:"_blank,_self" }}">{{ section_second.date_of_publication|date:"SHORT_DATE_FORMAT" }}</a>
                                </div>
                                <h4>
                                    <a  href="{{ section_second.add|yesno:url_str }}" target="{{ section_second.add|yesno:"_blank,_self" }}">{{ section_second.title|truncatechars:27 }}</a>
                                </h4>
                                <div class="space-10"></div>
                                <p class="post-p">{{ section_second.subtitle|truncatechars:120 }}</p>
                            </div>
                        </div>
                        {% endwith %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="border_black"></div>
            <div class="space-30"></div>
            <div class="row">
                {% for item_set in small_section_second_numbers %}
                    <div class="col-lg-6 {{ forloop.counter0|yesno:",mb-3" }}">
                        {% for item in item_set %}
                            {% get_field object 'small_section_second_'|add:item as small_section_second %}
                            {% if small_section_second %}
                                {% with small_section_second.url|add:',/artykul/'|add:small_section_second.slug  as url_str %}
                                <div class="single_post widgets_small">
                                    <div class="post_img">
                                        <a href="{{ small_section_second.add|yesno:url_str }}" target="{{ small_section_second.add|yesno:"_blank,_self" }}">
                                            <div class="img_wrap">
                                                <img src="{{ small_section_second.img_200x154.url }}" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="single_post_text">
                                        <div class="meta2">
                                            <a href="{{ small_section_second.add|yesno:url_str }}" target="{{ small_section_second.add|yesno:"_blank,_self" }}">{{ small_section_second.category }}</a>
                                            <a href="{{ small_section_second.add|yesno:url_str }}" target="{{ small_section_second.add|yesno:"_blank,_self" }}">{{ small_section_second.date_of_publication|date:"SHORT_DATE_FORMAT" }}</a>
                                        </div>
                                        <h4><a href="{{ small_section_second.add|yesno:url_str }}" target="{{ small_section_second.add|yesno:"_blank,_self" }}">{{ small_section_second.title|truncatechars:20 }}</a></h4>
                                    </div>
                                </div>
                                {% endwith %}
                            {% endif %}
                            {% if not forloop.counter0 %}
                                <div class="space-15"></div>
                                <div class="border_black"></div>
                                <div class="space-15"></div>
                            {% endif %}
                        {% endfor %}

                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-12 col-lg-4">
            <div class="follow_box widget mb30 mt-md-60">
                <h2 class="widget-title mt-3">
                    {% if object.section_2 %}
                        {{ object.section_2 }}
                    {% else %}
                        Sekcja_2
                    {% endif %}
                </h2>
                {% if object.add_navbar_sponsorowane %}
                {% with object.add_navbar_sponsorowane.url|add:',/artykul/'|add:object.add_navbar_sponsorowane.slug  as url_str %}
                    <a  href="{{ object.add_navbar_sponsorowane.add|yesno:url_str }}"  target="{{ object.add_navbar_sponsorowane.add|yesno:"_blank,_self" }}">
                        <div class="social_shares">
                            <img src="{{ object.add_navbar_sponsorowane.img_360x115.url }}" alt="">
                        </div>
                    </a>
                {% endwith %}
                {% endif %}
            </div>
            <!--:::::: POST TYPE 2 START :::::::-->
            <div class="widget tab_widgets mb30">
                <h2 class="widget-title">{{ object.section_3 }}</h2>
                <div class="post_type2_carousel owl-carousel nav_style1">
                    <!--CAROUSEL START-->
                    <div class="single_post2_carousel">
                        {% for item in section_second_left_numbers %}
                            {% get_field object 'section_second_left_'|add:item as section_second_left %}
                            {% if section_second_left %}
                            {% with section_second_left.url|add:',/artykul/'|add:section_second_left.slug  as url_str %}
                                <div class="single_post widgets_small type8 openModalClass">
                                    <div class="post_img">
                                        <div class="img_wrap">
                                            <a href="{{ section_second_left.add|yesno:url_str }}" target="{{ section_second_left.add|yesno:"_blank,_self" }}" >
                                                <img src="{{ section_second_left.img_160x128.url }}" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="single_post_text">
                                        <div class="meta2">
                                            <a href="{{ section_second_left.add|yesno:url_str }}" target="{{ section_second_left.add|yesno:"_blank,_self" }}" class="not-active">{{ section_second_left.category }}</a>
                                            <a href="{{ section_second_left.add|yesno:url_str }}" target="{{ section_second_left.add|yesno:"_blank,_self" }}" class="not-active">{{ section_second_left.date_of_publication|date:"SHORT_DATE_FORMAT" }}</a>
                                        </div>
                                        <h4>
                                            <a href="{{ section_second_left.add|yesno:url_str }}" target="{{ section_second_left.add|yesno:"_blank,_self" }}" class="not-active">{{ section_second_left.title|truncatechars:20 }}</a>
                                        </h4>
                                    </div>
                                    <div class="type8_count">
                                        <h2>{{ forloop.counter }}</h2>
                                    </div>
                                </div>
                                {% if forloop.counter < 5 %}
                                    <div class="space-15"></div>
                                    <div class="border_black"></div>
                                    <div class="space-15"></div>
                                {% endif %}
                            {% endwith %}
                            {% endif %}

                        {% endfor %}
                    </div>
                </div>
                <!--CAROUSEL END-->
            </div>
        </div>
    </div>
</div>
<!--::::: TRANDING CAROUSEL AREA END :::::::-->


<!--::::: TRANDING CAROUSEL AREA START :::::::-->
<div class="container mb40">
    <div class="row">
        <div class="col-lg-6 col-lg-12">
            <h2 class="widget-title">Drobne ogłoszenia</h2>
            <div class="border_black"></div>
            <div class="space-30"></div>
            <div class="row">
                {% get_add_category as add_categories %}
                {% for item in add_categories %}
                    {% if forloop.counter0|divisibleby:4  %}
                    <div class="col-lg-4">
                    {% endif %}
                        <div class="single_post widgets_small">
                            <div class="post_img">
                                <div class="img_wrap">
                                    <a href="/ogloszenia/{{ item.slug }}/">
                                        <img src="{{ item.img_url }}" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="single_post_text">
                                <h5>
                                    <a href="/ogloszenia/{{ item.slug }}/">{{ item.name }}</a>
                                </h5>
                                <div class="text-sm text-primary">
                                    <a href="/ogloszenia/{{ item.slug }}/">{{ item.adds.all|length }} ogłoszeń</a>
                                    <a href="/ogloszenia/{{ item.slug }}/"></a>
                                </div>
                            </div>
                        </div>
                        <div class="space-15"></div>
                        <div class="border_black"></div>
                        <div class="space-15"></div>
                    {% if forloop.counter|divisibleby:4  %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!--::::: TRANDING CAROUSEL AREA END :::::::-->


<!--::::: MIX CAROUSEL AREA START :::::::-->
<div class="half_bg1 mix_area mt-20">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="mix_carousel">
                    <!--CAROUSEL START-->
                    <div class="single_mix_carousel owl-carousel nav_style3">
                        {% for item in basic_center_numbers %}
                            {% get_field object "basic_center_"|add:item as basic_center %}
                            {% if basic_center %}
                                {% with basic_center.url|add:',/artykul/'|add:basic_center.slug  as url_str %}
                                <div class="single_post post_type6 post_type9 openModalClass"
                                     onclick="passDataFunction('basic_center_1')">
                                    <div class="post_img gradient1">
                                        <div class="img_wrap">
                                            <a href="{{ basic_center.add|yesno:url_str }}" target="{{ basic_center.add|yesno:"_blank,_self" }}">
                                                <img src="{{ basic_center.img_1080x840.url }}" alt="">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="single_post_text" href="#">
                                        <div class="meta">
                                            <a href="{{ basic_center.add|yesno:url_str }}" target="{{ basic_center.add|yesno:"_blank,_self" }}"  >{{ basic_center.category }}</a>
                                            <a href="{{ basic_center.add|yesno:url_str }}" target="{{ basic_center.add|yesno:"_blank,_self" }}"  >{{ basic_center.date_of_publication|date:"SHORT_DATE_FORMAT" }}</a>
                                        </div>
                                        <h4>
                                            <a href="{{ basic_center.add|yesno:url_str }}" target="{{ basic_center.add|yesno:"_blank,_self" }}"  >{{ basic_center.title|truncatechars:40 }}</a>
                                        </h4>
                                    </div>
                                </div>
                                {% endwith %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <!--CAROUSEL END-->
            </div>
        </div>
    </div>
    <div class="space-60"></div>
</div>
<!--::::: MIX CAROUSEL AREA END :::::::-->

<!--::::: VIDEO POST AREA START :::::::-->
<div class="video_posts pt30 half_bg60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading white">
                    <h2 class="widget-title">{{ object.section_4 }}</h2>
                </div>
            </div>
        </div>
        <div class="space-50"></div>
        <div class="viceo_posts_wrap">
            <div class="row">
                {% if object.large_basic_under %}
                    {% with object.large_basic_under.url|add:',/artykul/'|add:object.large_basic_under.slug  as url_str %}
                    <div class="col-lg-8 openModalClass" onclick="passDataFunction('large_basic_under')">
                        <div class="single_post post_type3 post_type11 margintop-60- xs-mb30 openModalClass"
                             onclick="passDataFunction('large_basic_under')">
                            <div class="post_img">
                                <div class="img_wrap">
                                    <a href="{{ object.large_basic_under.add|yesno:url_str }}" target="{{ object.large_basic_under.add|yesno:"_blank,_self" }}" class=""  >
                                        <img src="{{ object.large_basic_under.img_1460x822.url }}" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="single_post_text padding30 fourth_bg">
                                <div class="meta3">
                                    <a href="{{ object.large_basic_under.add|yesno:url_str }}" target="{{ object.large_basic_under.add|yesno:"_blank,_self" }}" class="not-active">{{ object.large_basic_under.category }}</a>
                                    <a href="{{ object.large_basic_under.add|yesno:url_str }}" target="{{ object.large_basic_under.add|yesno:"_blank,_self" }}"  >{{ object.large_basic_under.date_of_publication|date:"SHORT_DATE_FORMAT" }}</a>
                                </div>
                                <h4 class="mt-3">
                                    <a href="{{ object.large_basic_under.add|yesno:url_str }}" target="{{ object.large_basic_under.add|yesno:"_blank,_self" }}"  >{{ object.large_basic_under.title|truncatechars:45 }}</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    {% endwith %}
                {% endif %}
                <div class="col-lg-4">
                    <div class="popular_carousel_area mb30 md-mt-30">
                        <h2 class="widget-title">{{ object.section_5 }}</h2>
                        <div class="popular_carousel owl-carousel nav_style1">
                            <!--CAROUSEL START-->
                            <div class="popular_items">
                                {% for item in sm_basic_under_numbers  %}
                                    {% get_field object 'sm_basic_under_'|add:item as sm_basic_under %}
                                    {% if sm_basic_under %}
                                        {% with sm_basic_under.url|add:',/artykul/'|add:sm_basic_under.slug  as url_str %}
                                        <div class="single_post type10 widgets_small mb15 openModalClass"
                                             onclick="passDataFunction('sm_basic_under_1')">
                                            <div class="post_img">
                                                <div class="img_wrap">
                                                    <a href="{{ sm_basic_under.add|yesno:url_str }}"  target="{{ sm_basic_under.add|yesno:"_blank,_self" }}" class="not-active">
                                                        <img src="{{ sm_basic_under.img_200x113.url }}" alt="">
                                                    </a>
                                                </div>
                                                <span class="tranding tranding_border">
                                                    1
                                                </span>
                                            </div>
                                            <div class="single_post_text">
                                                <h4>
                                                    <a href="{{ sm_basic_under.add|yesno:url_str }}" target="{{ sm_basic_under.add|yesno:"_blank,_self" }}"
                                                       class="not-active">{{ sm_basic_under.title|truncatechars:20 }}</a>
                                                </h4>
                                                <div class="meta4">
                                                    <a href="{{ sm_basic_under.add|yesno:url_str }}"  target="{{ sm_basic_under.add|yesno:"_blank,_self" }}"
                                                        class="not-active">{{ sm_basic_under.category }}</a>
                                                </div>
                                            </div>
                                        </div>
                                        {% endwith %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <!--CAROUSEL END-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--::::: VIDEO POST AREA END :::::::-->
<!--::::: ENTERTAINMENT AREA START :::::::-->
<!--::::: FEATURE_POST AREA START :::::::-->

{% for item_set in section_footer_numbers %}
    <div class="feature_carousel_area mb40">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="heading">
                        {% get_array section_footer_title forloop.counter0 as title_field %}
                        <h2 class="widget-title">{% get_field object title_field %}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="feature_carousel owl-carousel nav_style1">
                        <!--CAROUSEL START-->
                        {% for item in item_set %}
                            {% get_field object 'section_footer_'|add:item as section_footer %}
                            {% if section_footer %}
                                {% with section_footer.url|add:',/artykul/'|add:section_footer.slug  as url_str %}
                                <div class="single_post post_type6 post_type7 openModalClass"
                                     onclick="passDataFunction('')">
                                    <div class="post_img gradient1">
                                        <a href="{{ section_footer.add|yesno:url_str }}" target="{{ section_footer.add|yesno:"_blank,_self" }}" class="not-active">
                                            <img src="{{ section_footer.img_540x640.url }}" alt="">
                                        </a>
                                    </div>
                                    <div class="single_post_text">
                                        <div class="meta5">
                                            <a href="{{ section_footer.add|yesno:url_str }}" target="{{ section_footer.add|yesno:"_blank,_self" }}"
                                                              class="not-active">{{ section_footer.category }}</a>
                                            <a href="{{ section_footer.add|yesno:url_str }}" target="{{ section_footer.add|yesno:"_blank,_self" }}"
                                               class="not-active">{{ section_footer.date_of_publication|date:"SHORT_DATE_FORMAT" }}</a>
                                        </div>
                                        <h4>
                                            <a href="{{ section_footer.add|yesno:url_str }}" target="{{ section_footer.add|yesno:"_blank,_self" }}"
                                               class="not-active">{{ section_footer.title|truncatechars:30 }}</a>
                                        </h4>
                                    </div>
                                </div>
                                {% endwith %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!--CAROUSEL END-->
                </div>
            </div>
        </div>
    </div>
{% endfor %}
<!--::::: FEATURE POST AREA END :::::::-->

<!--::::: ENTERTAINMENT AREA END :::::::-->
<div class="space-70"></div>
<!--::::: FOOTER AREA START :::::::-->
{% include "app/basic/footer.html" %}

<!--::::: FOOTER AREA END :::::::-->
<!--::::: ALL JS FILES :::::::-->
<script src="{% static 'assets/js/plugins/jquery.2.1.0.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.nav.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery-modal-video.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/owl.carousel.js' %}"></script>
<script src="{% static 'assets/js/plugins/popper.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/circle-progress.js' %}"></script>
<script src="{% static 'assets/js/plugins/slick.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/stellarnav.js' %}"></script>
<script src="{% static 'assets/js/plugins/wow.min.js' %}"></script>

<script src="{% static 'assets/js/main.js' %}"></script>

<script>
    function passDataFunction(str) {
        return true;
    }
    $(document).on('click', '.single_post_text', function () {
        var link = $(this).find('a');
        if(link.length > 0 ){
            console.log(link[0].href);
            link[0].click();
        }
    });




</script>
</body>

</html>