{% load static %}
{% load app_tags %}
<!DOCTYPE html>
<html lang="pl">

<head>
    <title>Tomaszów Mazowiecki - TIT - Lista artykułów.</title>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--::::: FABICON ICON :::::::-->
    <link rel="icon" href="{% static 'assets/img/icon/fabicon.png' %}">
    <!--::::: ALL CSS FILES :::::::-->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/modal-video.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/stellarnav.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/theme.css' %}">
    <style>
        .myDiv {
            background: #1191ff;
        }

        td {
            padding: 12px;
        }
    </style>
</head>

<body class="theme-1">
<!--::::: PRELOADER START :::::::-->
{% include "app/basic/navbar.html" %}

<!--::::: ARCHIVE AREA START :::::::-->

<!--::::: ARCHIVE AREA END :::::::-->
<div class="archives padding-top-30">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-8">
                <h3>Payment Result</h3>
            </div>
            {{ transaction.status }}

            {% include 'app/basic/right-section.html' %}
        </div>
    </div>
</div>
<!--::::: BANNER AREA START :::::::-->
{% include 'app/basic/footer_banner.html' %}
<!--::::: BANNER AREA END :::::::-->
<!--::::: FOOTER AREA START :::::::-->
{% include "app/basic/footer.html" %}

<!--::::: FOOTER AREA END :::::::-->
<!--::::: ALL JS FILES :::::::-->
<script src="{% static 'assets/js/plugins/jquery.2.1.0.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.nav.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery-modal-video.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/owl.carousel.js' %}"></script>
<script src="{% static 'assets/js/plugins/popper.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/circle-progress.js' %}"></script>
<script src="{% static 'assets/js/plugins/slick.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/stellarnav.js' %}"></script>
<script src="{% static 'assets/js/plugins/wow.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>

<script>
    function onpay() {
        var data = $('#payment_frm').serialize();
        var token = '{{csrf_token}}';
        $.ajax({
            headers: {
                "X-CSRFToken": token
            },
            url: '/update_user/',
            type: 'post',
            data: data,
            success: function (data) {
                console.log(data);
            }
        });
    }
</script>
</body>

</html>