{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>
	<title>Tomaszów Mazowiecki - TIT - Lista artykułów.</title>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!--::::: FABICON ICON :::::::-->
	<link rel="icon" href="{% static 'assets/img/icon/fabicon.png' %}">
	<!--::::: ALL CSS FILES :::::::-->
	<link rel="stylesheet" href="{% static 'assets/css/plugins/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/plugins/animate.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/plugins/fontawesome.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/plugins/modal-video.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/plugins/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/plugins/slick.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/plugins/stellarnav.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/theme.css' %}">
  <style>
  .myDiv{
  	background:#1191ff;
  }
  </style>
</head>

<body class="theme-1">
	<!--::::: PRELOADER START :::::::-->
  {% include "app/basic/navbar.html" %}

	<!--::::: INNER TABLE AREA START :::::::-->
	<div class="inner_table">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="bridcrumb">	<a href="#">Strona główna</a> / Cennik - Wydanie internetowe</div>
				</div>
			</div>
		</div>
	</div>
	<!--::::: INNER TABLE AREA END :::::::-->
	<!--::::: ARCHIVE AREA START :::::::-->
	<div class="archives padding-top-30">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-8">
					<div class="row">
						<div class="row">
							<div class="col-12 align-self-center">
								<div class="categories_title ml-3">
									<h5>Lista komunikatów</h5>
								</div>
							</div>
						</div>
					</div>
					<div class="entertrainment_carousel mb30">
						<!--CAROUSEL START-->
						<div class="entertrainment_item">
							<div class="row justify-content-center">
								<div class="col-lg-6">
									<div class="single_post post_type3 mb30">
										<div class="post_img">
											<div class="img_wrap">
												<a href="#">
													<img src="{% static 'assets/img/entertrainment/enter1.jpg' %}" alt="">
												</a>
											</div>
										</div>
										<div class="single_post_text">
											<div class="meta3">	<a href="#">TECHNOLOGY</a>
												<a href="#">March 26, 2020</a>
											</div>
											<h4><a href="post1.html">There may be no consoles in the future ea exec says</a></h4>
											<div class="space-10"></div>
											<p class="post-p">The property, complete with 30-seat screening from room, a 100-seat amphitheater and a swimming pond with sandy shower…</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="single_post post_type3 mb30">
										<div class="post_img">
											<div class="img_wrap">
												<a href="#">
													<img src="{% static 'assets/img/entertrainment/enter2.jpg' %}" alt="">
												</a>
											</div>
										</div>
										<div class="single_post_text">
											<div class="meta3">	<a href="#">TECHNOLOGY</a>
												<a href="#">March 26, 2020</a>
											</div>
											<h4><a href="post1.html">There may be no consoles in the future ea exec says</a></h4>
											<div class="space-10"></div>
											<p class="post-p">The property, complete with 30-seat screening from room, a 100-seat amphitheater and a swimming pond with sandy shower…</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="single_post post_type3 mb30">
										<div class="post_img">
											<div class="img_wrap">
												<a href="#">
													<img src="{% static 'assets/img/entertrainment/enter3.jpg' %}" alt="">
												</a>
											</div>
										</div>
										<div class="single_post_text">
											<div class="meta3">	<a href="#">TECHNOLOGY</a>
												<a href="#">March 26, 2020</a>
											</div>
											<h4><a href="post1.html">Copa America: Luis Suarez from devastated US</a></h4>
											<div class="space-10"></div>
											<p class="post-p">The property, complete with 30-seat screening from room, a 100-seat amphitheater and a swimming pond with sandy shower…</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="single_post post_type3 mb30">
										<div class="post_img">
											<div class="img_wrap">
												<a href="#">
													<img src="{% static 'assets/img/entertrainment/enter4.jpg' %}" alt="">
												</a>
											</div>
										</div>
										<div class="single_post_text">
											<div class="meta3">	<a href="#">TECHNOLOGY</a>
												<a href="#">March 26, 2020</a>
											</div>
											<h4><a href="post1.html">There may be no consoles in the future ea exec says</a></h4>
											<div class="space-10"></div>
											<p class="post-p">The property, complete with 30-seat screening from room, a 100-seat amphitheater and a swimming pond with sandy shower…</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="single_post post_type3 mb30">
										<div class="post_img">
											<div class="img_wrap">
												<a href="#">
													<img src="{% static 'assets/img/entertrainment/enter1.jpg' %}" alt="">
												</a>
											</div>
										</div>
										<div class="single_post_text">
											<div class="meta3">	<a href="#">TECHNOLOGY</a>
												<a href="#">March 26, 2020</a>
											</div>
											<h4><a href="post1.html">There may be no consoles in the future ea exec says</a></h4>
											<div class="space-10"></div>
											<p class="post-p">The property, complete with 30-seat screening from room, a 100-seat amphitheater and a swimming pond with sandy shower…</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="single_post post_type3 mb30">
										<div class="post_img">
											<div class="img_wrap">
												<a href="#">
													<img src="{% static 'assets/img/entertrainment/enter2.jpg' %}" alt="">
												</a>
											</div>
										</div>
										<div class="single_post_text">
											<div class="meta3">	<a href="#">TECHNOLOGY</a>
												<a href="#">March 26, 2020</a>
											</div>
											<h4><a href="post1.html">There may be no consoles in the future ea exec says</a></h4>
											<div class="space-10"></div>
											<p class="post-p">The property, complete with 30-seat screening from room, a 100-seat amphitheater and a swimming pond with sandy shower…</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="single_post post_type3 mb30">
										<div class="post_img">
											<div class="img_wrap">
												<a href="#">
													<img src="{% static 'assets/img/entertrainment/enter2.jpg' %}" alt="">
												</a>
											</div>
										</div>
										<div class="single_post_text">
											<div class="meta3">	<a href="#">TECHNOLOGY</a>
												<a href="#">March 26, 2020</a>
											</div>
											<h4><a href="post1.html">There may be no consoles in the future ea exec says</a></h4>
											<div class="space-10"></div>
											<p class="post-p">The property, complete with 30-seat screening from room, a 100-seat amphitheater and a swimming pond with sandy shower…</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="single_post post_type3 mb30">
										<div class="post_img">
											<div class="img_wrap">
												<a href="#">
													<img src="{% static 'assets/img/entertrainment/enter2.jpg' %}" alt="">
												</a>
											</div>
										</div>
										<div class="single_post_text">
											<div class="meta3">	<a href="#">TECHNOLOGY</a>
												<a href="#">March 26, 2020</a>
											</div>
											<h4><a href="post1.html">There may be no consoles in the future ea exec says</a></h4>
											<div class="space-10"></div>
											<p class="post-p">The property, complete with 30-seat screening from room, a 100-seat amphitheater and a swimming pond with sandy shower…</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="single_post post_type3 mb30">
										<div class="post_img">
											<div class="img_wrap">
												<a href="#">
													<img src="{% static 'assets/img/entertrainment/enter2.jpg' %}" alt="">
												</a>
											</div>
										</div>
										<div class="single_post_text">
											<div class="meta3">	<a href="#">TECHNOLOGY</a>
												<a href="#">March 26, 2020</a>
											</div>
											<h4><a href="post1.html">There may be no consoles in the future ea exec says</a></h4>
											<div class="space-10"></div>
											<p class="post-p">The property, complete with 30-seat screening from room, a 100-seat amphitheater and a swimming pond with sandy shower…</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="single_post post_type3 mb30">
										<div class="post_img">
											<div class="img_wrap">
												<a href="#">
													<img src="{% static 'assets/img/entertrainment/enter2.jpg' %}" alt="">
												</a>
											</div>
										</div>
										<div class="single_post_text">
											<div class="meta3">	<a href="#">TECHNOLOGY</a>
												<a href="#">March 26, 2020</a>
											</div>
											<h4><a href="post1.html">There may be no consoles in the future ea exec says</a></h4>
											<div class="space-10"></div>
											<p class="post-p">The property, complete with 30-seat screening from room, a 100-seat amphitheater and a swimming pond with sandy shower…</p>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="cpagination padding5050">
								<nav aria-label="Page navigation example">
									<ul class="pagination">
										<li class="page-item">
											<a class="page-link" href="#" aria-label="Previous"> <span aria-hidden="true"><i class="fas fa-caret-left"></i></span>
											</a>
										</li>
										<li class="page-item"><a class="page-link" href="#">1</a>
										</li>
										<li class="page-item"><a class="page-link" href="#">..</a>
										</li>
										<li class="page-item"><a class="page-link" href="#">5</a>
										</li>
										<li class="page-item">
											<a class="page-link" href="#" aria-label="Next"> <span aria-hidden="true"><i class="fas fa-caret-right"></i></span>
											</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
						<div class="widget_tab md-mt-30">
							<ul class="nav nav-tabs">
								<li><a class="active" data-toggle="tab" href="#post1">RELATED</a>
								</li>
								<li><a data-toggle="tab" href="#post2" class="">RELATED</a>
								</li>
								<li><a data-toggle="tab" href="#post3" class="">POPULAR</a>
								</li>
							</ul>
	
							<div class="tab-content">
								<div id="post1" class="tab-pane fade in active show">
									<div class="widget tab_widgets mb30">
										<div class="single_post widgets_small">
											<div class="post_img">
												<div class="img_wrap">
													<a href="#">
														<img src="{% static 'assets/img/header/widget/tab1.jpg' %}" alt="">
													</a>
												</div>
											</div>
											<div class="single_post_text">
												<div class="meta2 meta_separator1">	<a href="#">TECHNOLOGY</a>
													<a href="#">March 26, 2020</a>
												</div>
												<h4><a href="post1.html">Copa America: Luis Suarez from devastated US</a></h4>
											</div>
										</div>
										<div class="space-15"></div>
										<div class="border_black"></div>
										<div class="space-15"></div>
										<div class="single_post widgets_small">
											<div class="post_img">
												<div class="img_wrap">
													<a href="#">
														<img src="{% static 'assets/img/header/widget/tab2.jpg' %}" alt="">
													</a>
												</div>
											</div>
											<div class="single_post_text">
												<div class="meta2 meta_separator1">	<a href="#">TECHNOLOGY</a>
													<a href="#">March 26, 2020</a>
												</div>
												<h4><a href="post1.html">Nancy Zhang a Chinese busy woman and Dhaka</a></h4>
											</div>
										</div>
										<div class="space-15"></div>
										<div class="border_black"></div>
										<div class="space-15"></div>
										<div class="single_post widgets_small">
											<div class="post_img">
												<div class="img_wrap">
													<a href="#">
														<img src="{% static 'assets/img/header/widget/tab3.jpg' %}" alt="">
													</a>
												</div>
											</div>
											<div class="single_post_text">
												<div class="meta2 meta_separator1">	<a href="#">TECHNOLOGY</a>
													<a href="#">March 26, 2020</a>
												</div>
												<h4><a href="post1.html">U.S. Response subash says he will label regions by risk of…</a></h4>
											</div>
										</div>
										<div class="space-15"></div>
										<div class="border_black"></div>
										<div class="space-15"></div>
										<div class="single_post widgets_small">
											<div class="post_img">
												<div class="img_wrap">
													<a href="#">
														<img src="{% static 'assets/img/header/widget/tab4.jpg' %}" alt="">
													</a>
												</div>
											</div>
											<div class="single_post_text">
												<div class="meta2 meta_separator1">	<a href="#">TECHNOLOGY</a>
													<a href="#">March 26, 2020</a>
												</div>
												<h4><a href="post1.html">Venezuela elan govt and opposit the property collect</a></h4>
											</div>
										</div>
										<div class="space-15"></div>
										<div class="border_black"></div>
										<div class="space-15"></div>
										<div class="single_post widgets_small">
											<div class="post_img">
												<div class="img_wrap">
													<a href="#">
														<img src="{% static 'assets/img/header/widget/tab5.jpg' %}" alt="">
													</a>
												</div>
											</div>
											<div class="single_post_text">
												<div class="meta2 meta_separator1">	<a href="#">TECHNOLOGY</a>
													<a href="#">March 26, 2020</a>
												</div>
												<h4><a href="post1.html">Cheap smartphone sensor could help you old food safe</a></h4>
											</div>
										</div>
									</div>
								</div>
								<div id="post2" class="tab-pane fade">
									<div class="widget tab_widgets mb30">
										<div class="single_post widgets_small">
											<div class="post_img">
												<div class="img_wrap">
													<a href="#">
														<img src="{% static 'assets/img/header/widget/tab1.jpg' %}" alt="">
													</a>
												</div>
											</div>
											<div class="single_post_text">
												<div class="meta2 meta_separator1">	<a href="#">TECHNOLOGY</a>
													<a href="#">March 26, 2020</a>
												</div>
												<h4><a href="post1.html">Copa America: Luis Suarez from devastated US</a></h4>
											</div>
										</div>
										<div class="space-15"></div>
										<div class="border_black"></div>
										<div class="space-15"></div>
										<div class="single_post widgets_small">
											<div class="post_img">
												<div class="img_wrap">
													<a href="#">
														<img src="{% static 'assets/img/header/widget/tab2.jpg' %}" alt="">
													</a>
												</div>
											</div>
											<div class="single_post_text">
												<div class="meta2 meta_separator1">	<a href="#">TECHNOLOGY</a>
													<a href="#">March 26, 2020</a>
												</div>
												<h4><a href="post1.html">Nancy Zhang a Chinese busy woman and Dhaka</a></h4>
											</div>
										</div>
										<div class="space-15"></div>
										<div class="border_black"></div>
										<div class="space-15"></div>
										<div class="single_post widgets_small">
											<div class="post_img">
												<div class="img_wrap">
													<a href="#">
														<img src="{% static 'assets/img/header/widget/tab3.jpg' %}" alt="">
													</a>
												</div>
											</div>
											<div class="single_post_text">
												<div class="meta2 meta_separator1">	<a href="#">TECHNOLOGY</a>
													<a href="#">March 26, 2020</a>
												</div>
												<h4><a href="post1.html">U.S. Response subash says he will label regions by risk of…</a></h4>
											</div>
										</div>
										<div class="space-15"></div>
										<div class="border_black"></div>
										<div class="space-15"></div>
										<div class="single_post widgets_small">
											<div class="post_img">
												<div class="img_wrap">
													<a href="#">
														<img src="{% static 'assets/img/header/widget/tab4.jpg' %}" alt="">
													</a>
												</div>
											</div>
											<div class="single_post_text">
												<div class="meta2 meta_separator1">	<a href="#">TECHNOLOGY</a>
													<a href="#">March 26, 2020</a>
												</div>
												<h4><a href="post1.html">Venezuela elan govt and opposit the property collect</a></h4>
											</div>
										</div>
										<div class="space-15"></div>
										<div class="border_black"></div>
										<div class="space-15"></div>
										<div class="single_post widgets_small">
											<div class="post_img">
												<div class="img_wrap">
													<a href="#">
														<img src="{% static 'assets/img/header/widget/tab5.jpg' %}" alt="">
													</a>
												</div>
											</div>
											<div class="single_post_text">
												<div class="meta2 meta_separator1">	<a href="#">TECHNOLOGY</a>
													<a href="#">March 26, 2020</a>
												</div>
												<h4><a href="post1.html">Cheap smartphone sensor could help you old food safe</a></h4>
											</div>
										</div>
									</div>
								</div>
								<div id="post3" class="tab-pane fade">
									<div class="widget tab_widgets mb30">
										<div class="single_post widgets_small">
											<div class="post_img">
												<div class="img_wrap">
													<a href="#">
														<img src="{% static 'assets/img/header/widget/tab1.jpg' %}" alt="">
													</a>
												</div>
											</div>
											<div class="single_post_text">
												<div class="meta2 meta_separator1">	<a href="#">TECHNOLOGY</a>
													<a href="#">March 26, 2020</a>
												</div>
												<h4><a href="post1.html">Copa America: Luis Suarez from devastated US</a></h4>
											</div>
										</div>
										<div class="space-15"></div>
										<div class="border_black"></div>
										<div class="space-15"></div>
										<div class="single_post widgets_small">
											<div class="post_img">
												<div class="img_wrap">
													<a href="#">
														<img src="{% static 'assets/img/header/widget/tab2.jpg' %}" alt="">
													</a>
												</div>
											</div>
											<div class="single_post_text">
												<div class="meta2 meta_separator1">	<a href="#">TECHNOLOGY</a>
													<a href="#">March 26, 2020</a>
												</div>
												<h4><a href="post1.html">Nancy Zhang a Chinese busy woman and Dhaka</a></h4>
											</div>
										</div>
										<div class="space-15"></div>
										<div class="border_black"></div>
										<div class="space-15"></div>
										<div class="single_post widgets_small">
											<div class="post_img">
												<div class="img_wrap">
													<a href="#">
														<img src="{% static 'assets/img/header/widget/tab3.jpg' %}" alt="">
													</a>
												</div>
											</div>
											<div class="single_post_text">
												<div class="meta2 meta_separator1">	<a href="#">TECHNOLOGY</a>
													<a href="#">March 26, 2020</a>
												</div>
												<h4><a href="post1.html">U.S. Response subash says he will label regions by risk of…</a></h4>
											</div>
										</div>
										<div class="space-15"></div>
										<div class="border_black"></div>
										<div class="space-15"></div>
										<div class="single_post widgets_small">
											<div class="post_img">
												<div class="img_wrap">
													<a href="#">
														<img src="{% static 'assets/img/header/widget/tab4.jpg' %}" alt="">
													</a>
												</div>
											</div>
											<div class="single_post_text">
												<div class="meta2 meta_separator1">	<a href="#">TECHNOLOGY</a>
													<a href="#">March 26, 2020</a>
												</div>
												<h4><a href="post1.html">Venezuela elan govt and opposit the property collect</a></h4>
											</div>
										</div>
										<div class="space-15"></div>
										<div class="border_black"></div>
										<div class="space-15"></div>
										<div class="single_post widgets_small">
											<div class="post_img">
												<div class="img_wrap">
													<a href="#">
														<img src="{% static 'assets/img/header/widget/tab5.jpg' %}" alt="">
													</a>
												</div>
											</div>
											<div class="single_post_text">
												<div class="meta2 meta_separator1">	<a href="#">TECHNOLOGY</a>
													<a href="#">March 26, 2020</a>
												</div>
												<h4><a href="post1.html">Cheap smartphone sensor could help you old food safe</a></h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
	
	
						<div class="trending_widget mb30">
								<h2 class="widget-title">Tending News</h2>
							<div class="single_post post_type3">
								<div class="post_img">
									<div class="img_wrap">
										<img src="{% static 'assets/img/trending/trendbig1.jpg' %}" alt="">
									</div>	<span class="tranding">
										<i class="fas fa-bolt"></i>
									</span>
								</div>
								<div class="single_post_text">
									<div class="meta3">	<a href="#">TECHNOLOGY</a>
										<a href="#">March 26, 2020</a>
									</div>
									<h4><a href="post1.html">There may be no consoles in the future ea exec says</a></h4>
									<div class="space-10"></div>
									<p class="post-p">The property, complete with 30-seat screening from room, a 100-seat amphitheater and a swimming pond with sandy shower…</p>
								</div>
							</div>
	
							<div class="space-15"></div>
							<div class="border_black"></div>
							<div class="space-30"></div>
							<div class="single_post widgets_small">
								<div class="post_img">
									<div class="img_wrap">
										<img src="{% static 'assets/img/trending/transm4.jpg' %}" alt="">
									</div>	<span class="tranding">
										<i class="fas fa-bolt"></i>
									</span>
								</div>
								<div class="single_post_text">
									<div class="meta2">	<a href="#">TECHNOLOGY</a>
										<a href="#">March 26, 2020</a>
									</div>
									<h4><a href="post1.html">Nancy Zhang a Chinese busy woman and Dhaka</a></h4>
								</div>
							</div>
							<div class="space-15"></div>
							<div class="border_black"></div>
							<div class="space-15"></div>
							<div class="single_post widgets_small">
								<div class="post_img">
									<div class="img_wrap">
										<img src="{% static 'assets/img/trending/transm5.jpg' %}" alt="">
									</div>	<span class="tranding">
										<i class="fas fa-bolt"></i>
									</span>
								</div>
								<div class="single_post_text">
									<div class="meta2">	<a href="#">TECHNOLOGY</a>
										<a href="#">March 26, 2020</a>
									</div>
									<h4><a href="post1.html">U.S. Response subash says he will label regions by risk of…</a></h4>
								</div>
							</div>
							<div class="space-15"></div>
							<div class="border_black"></div>
							<div class="space-15"></div>
	
							<div class="single_post widgets_small">
								<div class="post_img">
									<div class="img_wrap">
										<img src="{% static 'assets/img/trending/transm6.jpg' %}" alt="">
									</div>	<span class="tranding">
										<i class="fas fa-bolt"></i>
									</span>
								</div>
								<div class="single_post_text">
									<div class="meta2">	<a href="#">TECHNOLOGY</a>
										<a href="#">March 26, 2020</a>
									</div>
									<h4><a href="post1.html">Venezuela elan govt and opposit the property collect</a></h4>
								</div>
							</div>
						</div>
						<!--:::::: POST TYPE 4 END :::::::-->
						<div class="box widget news_letter mb30">
								<h2 class="widget-title">News Letter</h2>
								<p>Your email address will not be this published. Required fields are News Today.</p>
								<div class="space-20"></div>
								<div class="signup_form">
									<form action="index.html">
										<input class="signup" type="email" placeholder="Your email address">
										<input type="button" class="cbtn" value="sign up">
									</form>
									<div class="space-10"></div>
									<p>We hate spam as much as you do</p>
								</div>
							</div>
						<div class="follow_box widget mb30">
							<h2 class="widget-title">Follow Us</h2>
							<div class="social_shares">
								<a class="single_social social_facebook" href="#">	<span class="follow_icon"><i class="fab fa-facebook-f"></i></span>
									34,456 <span class="icon_text">Fans</span>
								</a>
								<a class="single_social social_twitter" href="#">	<span class="follow_icon"><i class="fab fa-twitter"></i></span>
									34,456 <span class="icon_text">Followers</span>
								</a>
								<a class="single_social social_youtube" href="#">	<span class="follow_icon"><i class="fab fa-youtube"></i></span>
									34,456 <span class="icon_text">Subscribers</span>
								</a>
								<a class="single_social social_instagram" href="#">	<span class="follow_icon"><i class="fab fa-instagram"></i></span>
									34,456 <span class="icon_text">Followers</span>
								</a>
								<a class="single_social social_vimeo" href="#">	<span class="follow_icon"><i class="fab fa-vimeo-v"></i></span>
									34,456 <span class="icon_text">Followers</span>
								</a>
								<a class="single_social social_medium" href="#">	<span class="follow_icon"><i class="fab fa-medium-m"></i></span>
									34,456 <span class="icon_text">Followers</span>
								</a>
							</div>
						</div>
						<!--:::::: POST TYPE 2 END:::::::-->
						<div class="banner2 mb30">
							<a href="#">
								<img src="{% static 'assets/img/bg/sidebar-1.png' %}" alt="">
							</a>
						</div>
						<!--:::::: POST TYPE 4 START :::::::-->
					</div>
			</div>
		</div>
	</div>
	<!--::::: ARCHIVE AREA END :::::::-->
	<!--::::: BANNER AREA START :::::::-->
	<div class="padding5050 fourth_bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 m-auto">
					<div class="banner1">
						<a href="#">
							<img src="{% static 'assets/img/bg/banner1.png' %}" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--::::: BANNER AREA END :::::::-->
	<!--::::: FOOTER AREA START :::::::-->
	{% include "app/basic/footer.html" %}
  
  <!--::::: FOOTER AREA END :::::::-->
	<!--::::: ALL JS FILES :::::::-->
	<script src="{% static 'assets/js/plugins/jquery.2.1.0.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/jquery.nav.js' %}"></script>
	<script src="{% static 'assets/js/plugins/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/jquery-modal-video.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/owl.carousel.js' %}"></script>
	<script src="{% static 'assets/js/plugins/popper.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/circle-progress.js' %}"></script>
	<script src="{% static 'assets/js/plugins/slick.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/stellarnav.js' %}"></script>
	<script src="{% static 'assets/js/plugins/wow.min.js' %}"></script>
	<script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>